$cyan: hsl(179, 62%, 43%);
$cyan--white: hsla(179, 62%, 43%, 0.89);
$yellow: hsl(71, 73%, 54%);
$yellow--hover: hsl(71, 70%, 62%);
$gray: hsl(204, 43%, 93%);
$blue: hsl(218, 22%, 67%);
$background--color: hsla(206, 7%, 79%, 0.315);

