@import "./variables";

*, ::before, ::after  {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

body {
    background-color: $background--color;
    font-family: "Karla", sans-serif;
    font-size: 16px;
    display: flex; 
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.wrapper__card {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border-radius: 5px;
    max-width: 42%;
    background-color: white; 
}

.main__content {
    padding: 3rem 2rem; 
    h1 {
        font-size: 1.5em; 
        color: $cyan;
        padding-bottom: 1rem;
    }

    .green__text {
        font-weight: 700;
        color: $yellow;
        padding-bottom: 0.6rem;
    }

    p {
        color: $blue;
        line-height: 22px; 
    }
}

.second__block {
    display: flex; 
    width: 100%; 

    .price__content {
        border-bottom-left-radius: 5px;
        background-color: $cyan;
        width: 50%;
        padding-left: 2rem; 

        h1 {
            padding: 2rem 0 1rem 0;
            color: white; 
            font-size: 16px;
        }  

        p {
            color: hsla(203, 44%, 93%, 0.767);
            line-height: 30px; 
            span {
                color: white; 
                font-size: 25px; 
            }

        }

        button {
            box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
            margin: 1.5rem 0 2rem 0;
            width: 90%;
            height: 45px;
            border: none; 
            border-radius: 5px; 
            color: white;
            background-color: $yellow; 
            font-weight: 700;
            cursor: pointer;
            transition: all .2s ease-in-out;
        }

        button:hover {
            transform: scale(1.05);
            transition: all .2s ease-in-out;
            background-color: $yellow--hover;
        }
    }

    .description__content {
        border-bottom-right-radius: 5px;
        background-color: $cyan--white;
        width: 50%;
        padding: 2rem 2rem 0 2rem;
        font-size: 0.9em;
        color: hsla(203, 44%, 93%, 0.623);
        h1 {
            color: white; 
            margin-bottom: 1rem;
        }

        p {
            line-height: 28px;
            padding-bottom: 2rem; 
        }  

        ul {
            list-style: none;
            line-height: 20px;
        }
    }
}

@media (max-width: 1000px){
    body {
        height: 100%;
        margin: 1rem;    
    }

    .wrapper__card {
        max-width: 90%;
        height: 100%;
    }
    .second__block {
        height: 100%;
        display: flex; 
        flex-direction: column;

        .price__content {
            width: 100%;
            border-radius: 0;
        }

        .description__content {
            width: 100%;
            border-bottom-left-radius: 5px;

            ul {
                padding-bottom: 1rem; 
            }
        }

    }


}